
{% extends "layout.html" %}

{% block pageTitle %}
  Employee System
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What would you like to do?

      </h1>{{releaseVersion | log }}
      <p>
        This application will let you add and view employee information
      </p>


      <h2 class="govuk-heading-m">Tools</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/addemployee">Add a new employees</a>
        </li>
        <li>
          <a href="/list-employees">View employees by department</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
